@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

.navbar-brand {
  font-size: 24px !important;
}

.navbar {
  margin-bottom: 0px !important;
}
.intro-header {
  height: 400px;

}

#custom-search-blocks-form-1 .form-text {
  width: 90%;
  height: 55px;
  font-size: 30px;
  font-weight: 200;
  background-color:rgba(255,255,255,1);
  box-shadow: 2px 2px 2px #3E7575;
  padding-right: 10px;
  border: 0;
  color: #261534;
  text-align: left;
  padding-left: 20px;
}

input::-webkit-input-placeholder {
    color: #ABB584;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #ABB584;
}
input:focus:-moz-placeholder {
    opacity: 0;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #ABB584;
}
input:focus::-moz-placeholder {
    opacity: 0;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #ABB584;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
}
